#main, test, preview or local [case insensitive]
ENVIRONMENT=test
ACCOUNT_ID=
PRIVATE_KEY=

##Uncomment for reuse of contracts
#LAZY_TOKEN_ID=
#LAZY_SCT_CONTRACT_ID=
#LAZY_GAS_STATION_CONTRACT_ID=
#BOOST_MANAGER_CONTRACT_ID=
#PRNG_CONTRACT_ID=
#LAZY_DELEGATE_REGISTRY_CONTRACT_ID=

#MISSION_TEMPLATE_CONTRACT_ID
#MISSION_FACTORY_CONTRACT_ID=

#LAZY_BURN_PERCENT=0
#LAZY_STAKING_DISTRIBUTION_PERIOD=86400
#LAZY_STAKING_BOOST_CAP=500
#LAZY_STAKING_PERIOD_FOR_BONUS=30
#LAZY_STAKING_HODL_BONUS=25
#LAZY_STAKING_MAX_BONUS_PERIODS=8

## LAZY ECONOMY CACHE
LAZY_STAKING_CONTRACT_ID=0.0.7221488
LAZY_STAKING_ENV=mainnet
LAZY_STAKING_CACHE_TABLE=
STAKING_CACHE_SUPRESS_LOGS=true
DIRECTUS_DB_URL=
DIRECTUS_TOKEN=
```